<% 
if @horace
  url = horace_homers_path(@horace)
else
  url = homers_path
end -%>
<%= form_for(@homer, :url => url) do |f| %>
<%= error_report(@homer) %>

  <%= render :partial => "fields", :locals => { :f => f } %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
