/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
table#geral, table#geral tr, table#geral td {
  border: 1px solid black;
  border-spacing: 0px;
  border-collapse: collapse;
  padding: 5px;
  vertical-align: top;
}

table#geral td.no_left_line {
  border-left: 0px solid white;
}

table#geral td.no_right_line {
  border-right: 0px solid white;
}

table#geral td p {
  margin-top:0;
  /*margin-bottom:0;*/
}

span.small {
  font-size: 10px;
}